.wrapper {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

.subject {
    font-weight: bold;
    font-size: 1.375rem;
}

.header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    h5 {
        font-weight: bold;
    }
}

.action {
}

.content {
    margin-top: 10px;
}
